@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&family=Rubik:wght@300;700&display=swap');




body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
}
p{
	margin: 0;
}
hr{
	border-color: rgb(255 255 255 / 27%);
	border-bottom: unset;
	box-shadow: unset;
}
/*Variable*/
:root {
  --primary-color: #03a9f4;
}

/*common classes*/
.mt-0{
	margin-top: 0;
}
.mb-0{
	margin-bottom: 0;
}
.mb-5{
	margin-bottom: 5px;
}
.m-0{
	margin: 0;
}
.text-primary{
	color: var(--primary-color);
}
.font-50{
	font-size: 50px;
}
.container{
	width: 1000px;
	margin: auto;
}
/*Header section*/
.card{
	margin-top: 90px;
	background-color: #bce5f6;
	border-top: 10px solid var(--primary-color);; 
	padding: 30px;
}
.card .card-inner{
	display: flex;

}
.card .card-inner input{
	border: unset;
	line-height: 34px;
	padding: 5px 15px;
	border-radius: 10px;
	width: 280px;
	border: 1px solid #537a8b;
	margin-right: 10px;
}
.card .card-inner input:focus{
	outline: unset;
	border-color: var(--primary-color);;
}
.card .card-inner button{
	border: unset;
	line-height: 34px;
    background-color: var(--primary-color);;
    color: white;
    padding: 5px 35px;
    border-radius: 10px;
    cursor: pointer;
}
.card .card-inner button:hover{
	background-color: #1a7fcf;
}
/*Infromation Card*/
.information-fetched{

}
.information-fetched .inner-card{
    border-left: 10px solid var(--primary-color);;
    padding: 30px;
    background-color: white;
    width: 430px;
    margin-top: 30px;
    position: relative;
}

.information-fetched .inner-card .weather-icon{
    text-align: right;
    position: absolute;
	right: 30px;
}
.information-fetched .inner-card .weather-icon img{
	width: 70px;
	height: 70px;
	object-fit: contain;
}